<h1 align="center" class="job-form">Signup for SolvedByCode</h1>

<div class="row">
  <div class="col-xs-12">
    <% form_for(@applicant, :html => {class: "form-horizontal", role: "form"}) do |f|%>
      <%= f.label %>
    <% end %>
  </div>
</div>