<div class="job-show-heading">
  <h1><%= @job.title %></h1>
  <h2>Company | <%= @job.location %></h2>
</div>
<div class="row">
  <%@job.technologies.each do |tech|%>
    <div class="tech">
      <%= tech %>
    </div>
  <% end %>
</div>
