<div class="col-lg-8 col-lg-offset-2 why">
  <div align="center">
    <span id="why">Why SolvedByCode?</span>
  </div>
  <p class="description">Technology is taking the world to a better future with advances never considered to be   possible becoming very much so. Regardless of industry, programming is the driving force that takes us into the future. SolvedByCode is working to allow organisations so hire the best developers in the world to take what they do to the next level. Will you be the next company to have your problems solved by code?</p>
</div>