<div class="jumbotron">
  <h1 class="front-page-header">SolvedByCode </h1>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 splited" >
      <h2 align="center">Are you hiring a programmer?</h2>
      <p>Finding the best candidates for your job is as easy as signing up, posting a job and waiting! </p>
      <div class="btn btn-lg btn-success btn-sign-up"><%= link_to 'Signup now!', companies_signup_path, {:style=> "color: #fff; text-decoration: none;" } %></div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1 bordered"></div>
    <div class="col-sm-4 splited">
      <h2 align="center">Are you a programmer?</h2>
      <h3 align="center">Apply for a job in four easy steps</h3>
      <ol class="apply-steps">
        <li>Create and account</li>
        <li>Add you resume</li>
        <li>Find a job</li>
        <li>Apply!</li>
      </ol>
      <div class="btn btn-success btn-lg btn-sign-up" ><%= link_to 'Signup now!', applicants_signup_path, {:style=> "color: #fff; text-decoration: none;" } %></div>
    </div>
  </div>
</div>
