@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('background.jpg');
  background-size: cover;
  margin-bottom: 0;
  height: 573px;

}

.jumbotron h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.front-page-header {
  margin-top: 70px;
}

.front-page-header h1{
  font-size: 50px;
}

.description {
  color: black;
}

.why {
 /* border: #2E2F30 2px solid;
  border-radius: 15px; */
  align-content: center;
}

.why span{
  font-size: 1.5em;
  color: #2E2F30;
  border-bottom: #2E2F30 1px solid;
  text-align: center;
}

.why p {
  line-height: 1.7em;
  font-size: 1.3em;
}

.job-form {
  margin-top: 70px;
  margin-bottom: 50px;
}
.splited {
  background-color: #f3f3f3;
  border: #000 2px solid;
  border-radius: 17px;
}
.apply-steps {
  margin-left: 10px;
}
.btn-sign-up {
  margin-left: 120px;
  margin-bottom: 20px;
}
.bordered {
  height: 275px;
  border-left: #343434 2px solid;
}

.dropdown-menu {
  margin-left: 17%;
  float: left;
  max-width: 210px;
}

.checkbox-group {
  display: block;
  float: left;
  margin: 5px 5px 5px 5px;
}

.checkbox-group span {
  margin-left: 4px;
}

.checkbox-group input {
  margin: auto 0 0 0;
}

.job-show-heading {
  border-bottom: #343434 2px solid;
}

.tech {
  background-color: #E1ECF4;
  color: #39739d;
  margin-left: 3px;
  margin-right: 3px;
  display: inline;
  border: #E1ECF4 1px solid;
  border-radius: 3px;
  padding: 4px 5px 5px 5px
}

.job-techs {
  margin-left: 5px;
}

#job-description-field {
  margin-top: 10px;
  margin-left: 40px;
}

.form-button {
  margin-left: 15px;
}

.company-info {
  padding: 7px 10px 10px 10px;
  border: #aaaaaa 2px solid;
  border-radius: 10px;
  background-color: #e2e2e2;
  margin-top: 67px;
}

.company-info h3{
  size: 0.8em;
}
.company-info .info {
  margin-left: 7px;
}



