@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('background.jpg');
  background-size: cover;
  margin-bottom: 0;
  height: 573px;

}

.jumbotron h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.front-page-header {
  margin-top: 70px;
}

.front-page-header h1{
  font-size: 50px;
}

.description {
  color: black;
}

.why {
 /* border: #2E2F30 2px solid;
  border-radius: 15px; */
  align-content: center;
}

.why span{
  font-size: 1.5em;
  color: #2E2F30;
  border-bottom: #2E2F30 1px solid;
  text-align: center;
}

.why p {
  line-height: 1.7em;
  font-size: 1.3em;
}

.job-form {
  margin-top: 70px;
  margin-bottom: 50px;
}
.splited {
  background-color: #f3f3f3;
  border: #000 2px solid;
  border-radius: 17px;
}
.apply-steps {
  margin-left: 10px;
}
.btn-sign-up {
  margin-left: 120px;
  margin-bottom: 20px;
}
.bordered {
  height: 275px;
  border-left: #343434 2px solid;
}

.dropdown-menu {
  margin-left: 208px;
  float: left;
}

.job-show-heading {
  border-bottom: #343434 2px solid;
}

.tech {
  background-color: lightblue;
  color: cornflowerblue;
}